/* /*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 49px;
	padding: 0;
	background: url(images/img01.jpg) repeat-x left top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333333;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}


a:link {
	color:blue;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;

	color: #dc3545;
}

a:visited {
	color:#dc3545	;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

#dodato{
    position: absolute;
    width: 40vw;
    max-height: 65%;
    background-color: rgb(0,0,0,0.8);
    top: 15%;
    bottom: 15%;
    right: 10vw;
    z-index: 1;
    border: 2px solid white;
    border-radius: 20px 0px 20px 0px;
}
#dodato h1,figcaption{
    color:wheat
}
/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* Header */

header{
	position: relative;
	width: 100%;
	height: 550px;
	background: url(images/1.jpg);
	background-size: cover;
}

/* Page */
#page,#content{
	--bs-gutter-x: 0 !important;
}


/* Post */

.post {
	padding: 15px 15px;
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	color:white;
}

.post h1 {
}

.post h2 {
	height: 32px;
	padding: 8px 0 0 15px;
	background: url(images/img09.jpg) no-repeat left top;
	font-size: 18px;
	color: #DADADA;
}

#content .entry {
	padding: 50px 150px;
}
.regText{
	font-size: 1.2em;
	margin:0.5em;
}

.post .meta {
	padding: 15px 0 30px 0;
	border-top: 1px dotted #D1D1D1;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
	background: url(images/img11.gif) no-repeat left center;
}

.post .meta .comments {
	padding-left: 22px;
	background: url(images/img12.gif) no-repeat left center;
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: left;
	--bs-gutter-x:0;
	padding-top:3.5em;
}

#sidebar ul {
	margin: 2em;
	list-style: none;
}

ul {
padding-left: 0 !important;
}

#sidebar li li {
	margin: 0;

}

#sidebar h2 {
	width: 80%;
	float: left;
	border-radius: 0 15px 0 0;
	padding:0.5em;
	margin-bottom: 1em;
	background-color: #dc3545;
	font-size: 18px;
	color: #DADADA;
}

/* Search */

#search {
}

#search h2 {
	margin-bottom: 20px;
}

#s {
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #BED99C;
}

#x {
	padding: 6px;
	border: none;
	font-size: 0.8em;
	color: #FFFFFF;
	margin-left: 13em;
	width: 7em;
	margin-top:1em;
}
.searchInp{
	width:14em;
	margin-left: 2em;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
	width: 100%;
	height: 64px;
	margin: 0 auto;
	background-color: #333333;
}

#footer {
	margin: 0 auto;
	height: 64px;
	min-height: 64px;
	padding: 0;
}

html>body #footer {
	height: auto;
}

#footer p {
}

#legal {
	clear: both;
	padding-top: 10px;
	text-align: center;
	color: #999999;
}

#legal a {
	color: #999999;
}


